body {
    background-color: #141414;
}
* {
    font-family: 'Roboto', sans-serif;
}
.container-app {
    padding: 1em;
}
.container-movies .card {
    border: 1px solid #cdcdcd;
    padding: 1em;
    width: 70%;
    margin: 2em auto;
    background-color: #ffd100
}
.title {
    text-align: center;
    color: #eeeeee;
}

.details {
    color: #eeeeee;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
}

.pointer {
    cursor: pointer;
}